<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rael hub</title>
    <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div id="particles-js" style="position:fixed; width:100vw; height:100vh; z-index:-2; top:0; left:0;"></div>
    <div class="grid-background"></div>
    <div class="glow glow-1"></div>
    <div class="glow glow-2"></div>

    <header class="container-header" >
        <h1><a href="/">Rael hub</a></h1>
        <span>🟢 <%= users.length %> <a href="/dashboard/users">users</a></span>
    </header>

    
    <main class="container-main">
        
        <h1 class="dashboard-title" >Welcome, <%= username %></h1>

        <div class="container-dashboard" >

            <form class="container-announcement" action="/dashboard/send" method="post" >

                <h2>Announcement</h2>
                <textarea class="dashboard-textarea" name="message" required ></textarea>
                <button type="submit" >send message</button>

            </form>

            <div class="container-commands-main">

                <h2>Commands for players</h2>

                <div class="container-commands" >
                    <button>Kick</button>
                    <button>Kill</button>
                </div>

            </div>

        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2.12.0/tsparticles.bundle.min.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/particles.js"></script>

</body>
</html>